<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is home page.</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center flex-column">
     <div class="text-center">
        <h1 class="font-weight-bold">This is home page.</h1>
        <p>Start Collecting your contacts in very smarter way. We provide very efficient and smarter way of handling contacts.</p>
        <button class="btn btn-primary btn-lg text-white">Get Start</button>
     </div>
     <!-- <div>
          <h2 class="font-weight-bold">We are building spring boot project.</h2>
     </div> -->
    </section>
</body>
</html>